body{
    margin: 0;
    background-color: rgb(187, 186, 186);
    font-size: 15px;
}
header{
    margin: 0;
    min-width: 100%;
    height: auto;
    box-sizing: border-box;
    background: radial-gradient(grey, black 100%);
    display: grid;
}
img{
    max-width: 100%;
    width: auto;
}
h3{
    text-align: left;
    padding: 7px;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.616);
    font-size: 1.7rem;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}
.nombre-logo{
    text-transform: uppercase;
    margin: 0;
    padding-top: 10px;
    max-width: 100%;
    width: auto;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
    letter-spacing: 2px;
    color: rgba(237, 238, 241, 0.753);
    

}
.Logo-nombre{
    display: flex;
    box-sizing: border-box;
    padding: 5px;
    max-width: 100%;
    max-height: 70px;
    background-color: rgba(49, 61, 66, 0.493);
    border-bottom: 5px black solid;
    border-top: 5px black solid;
}
.logo{
    box-sizing: border-box;
    background-color: transparent;
    max-height: 100%;
    max-width: 55px;
}
.nombre{
    margin-left: 10px;
    box-sizing: border-box;
    max-width: 100px;
    max-height: 100%;
    background-color: transparent;
}
.fondo{
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    height: 75vh;
    background-image: url(imagenes/banner5.jpg);
    background-size: cover;
    background-position: center ;
    background-position-y: -40px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.fondo-opaco{
    box-sizing: border-box;
    margin: 0;
    max-width: 100%;
    height: 100%;
    background: linear-gradient(to top,transparent,black);
}
.nom{
    letter-spacing: 2px;
    text-transform:uppercase;
    margin: 0;
    color: rgba(255, 255, 255, 0.507);
    text-align: center;
    padding: 40px;
    font-size: 3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.ab-contenido{
    box-sizing: border-box;
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    height: 3px;
    background-color: black;
}
.target{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(35%,1fr));
    gap: 32px;
    padding-top: 20px;
    height: auto;
    max-width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}
.card{
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.788);
    border-radius: 5px ;
    height: auto;
    width: 100%;
    padding: 0;
    margin: 10px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 10px 12px 15px 1px rgba(0, 0, 0, 0.459),  -9px -12px 13px 1px rgb(255, 255, 255);
}
.notas{
    padding: 10px;
    padding-bottom: 20px;
    color: rgb(255, 255, 255);
    text-align: justify;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-weight: 100;
}

